.body {
  font-family: "lora", serif;
}

.conteudo {
  width:72%;
  margin: 120px auto;
  background-color: white;
  padding: 50px ; 
  border-radius: 15px
}

.background{
  background-color: #2e2d4c;
  background-image: url(../imagens/background-foods-v4.png);
  background-attachment: fixed;
}

.cabecalho{
  text-align: center;
  color: white;
  margin: auto;
  padding: 30px;
}

.logo img { 
  width: 12rem;
}

.navigation li {
  display: inline-block;
  width: 150px;
  font-size: 1.rem;
  text-transform: uppercase;
}

.navigation li a:visited {
  color:gray;
  text-decoration: none;
}
.navigation li a:hover {
  color:rgb(57, 56, 56);
  text-decoration: underline;
}

.avatar {
  float: left;
  width: 12rem;
  padding: 2rem;
  margin-right: 20px;
}

.fonte--media {
  font-family: "lora", serif;
  font-size: 1.7rem;
}

.icons {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}


.titulo {
  font-size: 1.9rem;
  margin-top: 50px;
}

.titulo--fonte {
  font-family: "Exo 2", sans-serif;
}

.habilidades label {
  width: 250px;
  display: inline-block;
}

.habilidades progress {
  accent-color: #2e2d4c;
}

.fotos img {
  border-radius: 8px;
  width: 532px;
  height: 276px;
  filter: grayscale(0.4);
}

.fotos img:hover {
  filter: none;
}

.icons:hover{
  color:#666565;
}

.btn-inicio {
  font-size: 3rem;
  color: #ffffff;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.3;
}

.btn-inicio:hover {
  opacity: 1;
}

.material-icons {
  color: #2e2d4c;
  width: 32px;
}

.footer {
  position: relative;
  padding: 120px;
  background-color: #1b1a2f;
  color: white;
  text-align: center;
}

.logotipo {
  color:#e2e1e8;
  position: absolute;
  right: 50%;
  font-size: 1.8rem;
  padding-top: 10px;
  z-index: 1;
  transform: translateX(50%) ;
}

.logomarca.fundo {
  background-color: #502323;
  width: 100px;
  height: 100px;
  float: right;
  margin-right: 50%;
  margin-top: -50px;
  transform: translateX(50%) rotate(45deg) ;

}